.ex-1-square{
    background-color: rgba(255, 0, 0, 0);
    transition:background-color 2s;
    
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square{
    transition: transform 2s;
}

.ex-2-square:hover{
    transform: scaleX(3);
}

.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: opacity 4s;
}
.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: transform ;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

.ex-6-img{
    transition: filter ;
    
}

.ex-6-img:hover{
    filter: grayscale(100%)
}

.ex-7-img{
    transition: filter 4s;
}

.ex-7-img:hover{
    filter: blur(5px)  saturate(35%);
    
}

.ex-8-img{
    transition: filter , border-radius 4s;
}

.ex-8-img:hover{
    filter: hue-rotate(60deg) brightness(1.5);
    border-radius: 20px;
}

.ex-9-img{
    transition: border-radius 5s, filter 4s, transform 2s;
}
.ex-9-img:hover{
    filter: hue-rotate(40deg) contrast(90%) blur(2px) ;
    border-radius: 40px;
    transform: scale(1.25);
}

.ex-10-icon:hover{
animation: spin 2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}


@keyframes spin {
    100% {
        rotate: 1turn;
    }
}

.ex-11-icon:hover{
    animation: half-spin 5s;
    transition-timing-function: cubic-bezier(0.1, 0.1, 1.0, 1.0);
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
}

/* @keyframes half-spin {
    
    
    
    100% {
        rotate: 0.75turn;
    }
}  */

@keyframes half-spin {

    75% {
        rotate: 0.75turn;
    }

    100% {
        rotate: 0turn;
    }
}



.ex-12-button:hover > .ex-12-top-white{
    animation-name: white-button-1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes white-button-1 {

    0%{
        left: 10%;
        right: 60%;

    }

    100%{
        
        right: 0%;
        left: 70%;
    }
}

.ex-12-button:hover > .ex-12-bottom-white{
    animation-name: white-button-2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes white-button-2 {

    0%{
            left: 50%;
            right: 20%;
    
        }
    
        100%{
            
            right: 70%;
            left: 0%;
        }
}


.ex-13-button:hover > .ex-13-top-white{
    animation-name: white-button-1-complete;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes white-button-1-complete{

     0% {
        left: 10%;
        right: calc((100% - 10%)- 60px);
        top: -10px;
        bottom: 60px;

    

    }

    30% {

        left: calc(100% - 30px);
        right: -30px;
        top: -10px;
        bottom: calc(100%- 10px);

    }

    40%{
        right: -30px;
        bottom: -10px;
        left: calc(100% - 30px);
        top:  calc(100% - 10px);

    }

    80%{    
        left: -30px;
        bottom: -10px;
        right:calc(100% - 30px);
        top:  calc(100% - 10px);

    }

    90%{
        left: -30px;
        bottom: calc(100%- 10px);
        right:calc(100% - 30px);
        top: -10px;

    }

    100%{
        left: 10%;
        right: calc((100% - 10%)- -30px);
        top: -10px;
        bottom: 60px;



    }
}


.ex-13-button:hover > .ex-13-bottom-white {
    animation-name: white-button-2-complete;
    animation-duration: 3s;
    animation-timing-function: linear;
}



@keyframes white-button-2-complete{

    0% {
    top:calc(100% - 10px);
    bottom:-10px;
    left:calc((100% - 20%) - 60px);
    right:20%;


   

   }

   30% {

    top:calc(100% - 10px);
    bottom:-10px;
    left:-30px;
    right:calc(100% - 30px);

   }

   40%{
    top:-10px;
    bottom:calc(100% - 10px);
    left:-30px;
    right:calc(100% - 30px);

   }

   80%{    
    top:-10px;
    bottom:calc(100% - 10px);
    left:calc(100% - 30px);
    right:-30px;


   }

   90%{
    top:calc(100% - 10px);
    bottom:-10px;
    left:calc(100% - 30px);
    right:-30px;

   }

   100%{
    top:calc(100% - 10px);
    bottom:-10px;
    left:calc((100% - 20%) - 60px);
    right:20%;




   }
}